#main-content {
    width : 1200px;
    height : 2150px;
    margin : 0 auto;
    position : relative;
}

.calcu_box {
    width: 800px;
    height: 900px;
    box-shadow: 0px 4px 50px 10px rgba(255, 226, 162, 0.3);
    margin: 130px auto 0 auto;
    border-radius: 40px;
    background-color: white;
}

.result_calcu_box {
    width: 800px;
    height: 630px;
    box-shadow: 0px 4px 50px 10px rgba(255, 226, 162, 0.3);
    margin: 150px auto 0 auto;
    border-radius: 40px;
    background-color: white;
}

/* 메뉴 */
#top-menu {
    width: 800px;
    height: 70px;
    background-color: #F0A300;
    cursor: pointer;
    border-radius: 40px 40px 0 0;
}

    .menu-click {
        background-color: #FEB415;
    }
    .age-cal {
    	width : 33.3333%;
    	height : 100%;
    	float : left;
    	text-align: center;
    	line-height: 4.5;
    	color : white;
        border-radius: 40px 0 0 0;
    }
    	.age-cal > a {
    		display : block;
    		width: 100%;
    		color : white;
    	}
    	
    .calorie-cal {
        width : 33.3333%;
    	height : 100%;
    	float : left;
    	text-align: center;
    	line-height: 4.5;
    	
    }
    	.calorie-cal > a {
    		display : block;
    		width: 100%;
    		color : white;
    	}
    	
    .body-cal {
        width : 33.3333%;
    	height : 100%;
    	float : left;
    	text-align: center;
    	line-height: 4.5;
    	color : white;
        border-radius: 0 40px 0 0;
    }
    	.body-cal > a {
    		display : block;
    		width: 100%;
    		color : white;
    	}

/* 타이틀 */
.box-in-title {
    text-align: center;
    margin: 50px 0 30px 0;
}
    .p-hr {
        width: 500px;
        height: 1px;
        background-color: #DFDFDF;
        margin: 12px auto;
    }

    .box-in-title > h3 {
        color : #FBB41D;
        font-size: 28px;
        font-weight: 500;
    }

    .box-in-title > span {
        color: #AEAEAE;
        font-weight: 200;
        letter-spacing: 1.5px;
    }
 
/* 타이틀 제외 내용 */
.box-in-content {
    width: 100%;
    height: 400px;
    padding: 15px;
}
    
/* 생년월일 */
.dog-birth {
    width: 500px;
    height: 100px;
    margin: 10px auto;
}

.input-div {
    background-color: white;
    border: 1px solid #C9C9C9;
    width: 400px;
    height: 48px;
    border-radius: 32px;
    /* margin: 10px 0 0 0; */
    padding: 3px 3px 3px 3px;
    float: left;
}
    #dog_age_date {
        border : none;
        outline: none;
        width: 380px;
        margin: 8px 10px 10px 10px;
        font-size: 15px;
        float: left;
    }
    .sub-title {
        font-size: 18px;
        color: #AEAEAE;
        float: left;
        margin: 0 20px 0 0;
    }
    .birth-title {
        margin: 10px 20px 10px 10px;
    }

/* 몸무게 선택 */
.dog-condition {
    width: 500px;
    height: 530px;
    margin: 0 auto;
}
    .dog_type {
        margin: 0 10px;
        border-radius: 100px;
        height: 35px;
        line-height: 35px;
        font-size: 15px;
        color: #616060;
        background: #FECF67;
        text-align: center;
        padding: 1px 15px;
        cursor: pointer;
        border: none;
    }

    .cal_checked {
        color: #fff;
        background: #ff9c00;
    }

/* 결과보기 버튼 */
.submitBtn {
    margin: 0 0 0 310px;
}
.submitBtn > input[type=button] {
    border: none;
    color: white;
    width: inherit;
    background-color: #FEB415;
    width: 120px;
    height: 38px;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 2px 3px  #C9C9C9;
}




.dog-weight {
    width: 500px;
    height: 80px;
    margin: 10px auto;
}
    .dog_type {
        margin: 0 10px;
        border-radius: 100px;
        height: 35px;
        line-height: 35px;
        font-size: 15px;
        color: #616060;
        background: #FECF67;
        text-align: center;
        padding: 1px 15px;
        cursor: pointer;
        border: none;
    }

    .cal_checked {
        color: #fff;
        background: #ff9c00;
    }

/* BCS결과 */
.cal_BCS {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 0 0 2% 0;
    
    
}
    .cal_BCS li:first-child {
        margin: 2% 0 0 0;
    }
    .cal_BCS li a img {
        width: 100%;
        
        filter: grayscale(100%);
        opacity: 0.6;
    }
    .cal_BCS li {
        list-style: none;
        float: left;
        width: 32%;
        margin: 2% 0 0 2%;
        border: 1px solid #ececec;
        background: #fafafa;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .cal_BCS li:hover {
        border: 1px solid rgb(185, 185, 185);
        background: rgba(163, 163, 163, 0.247);
    }

    .cal_BCS li:nth-child(4n+0) {
        margin: 2% 0 0 0;
    }
    .cal_BCS li:nth-child(7n+0) {
        margin: 2% 2% 0 0;
    }
    
    .cal_BCS li.bcs_on{
        border: 1px solid #ffc83c;
        background-color: rgba(253, 240, 169, 0.123);
    }

/* 체형선택 */
#bcs_sel_0_img li a {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}
    
/* 결과창  **********************/
.cal_txt {
    height: 240px;
    margin-bottom: 10px;
    text-align: center;
}
    .cal_txt > p {
        font-size: 24px;
        margin : 10px 0;
        color: #FBB41D;
        font-weight: 400;
    }
    .cal_txt > span {
        font-size: 18px;
        display: inline-block;
        font-weight: 300;
        line-height: 2;
    }


.cal_btn {
    margin: 0 0 0 310px;
}
    .cal_btn > .cal_result {
        border: none;
        color: white;
        width: inherit;
        background-color: #FEB415;
        width: 120px;
        height: 38px;
        border-radius: 25px;
        outline: none;
        cursor: pointer;
        box-shadow: 0px 2px 3px  #C9C9C9;
    }

