@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* font-family: 'Nanum Gothic', sans-serif; */

/* 폰트 */
* {
    font-family: 'Noto Sans KR', sans-serif;
}

#wrap {
    width: 100%;
    /* height: 1300px; */
    padding: 90px 0 90px 0;
    background-color: #FFF9EB;
}

/* 로고, 헤더 */
#form-logo {
    width: 220px;
    margin: 0 auto 40px auto;
}

#form-logo > a {
	width: inherit;
}

#form-logo > a > img {
    width: inherit;
}

/* 하얀색 폼 */
#join-form {
    width: 650px;
    margin: 0 auto;
    background-color: white;
    padding: 70px 0;
    box-shadow: 0 4px 50px 10px rgba(255, 226, 162, 0.3);
    border-radius: 50px;
}


/* 유저폼 1 */
#form1-area {
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.input-div {
    background-color: white;
    border: 1px solid #C9C9C9;
    width: 400px;
    /* height: 28px; */
    border-radius: 32px;
    margin: 10px 0 0 0;
    padding: 3px 3px 3px 3px;
}

.input-div > p {
    margin: 0 100px 0 0;
}

.subtitle {
    font-size: 13px;
    margin: 15px 0 5px 0;
}
input[type=text], input[type=number], input[type=password], select {
    border : none;
    outline: none;
    width: 380px;
    margin: 0px 10px 0px 10px;
}

.area-div {
    margin: 0 0 10px 0;
}

/* 이메일주소 */
#email-input {
    float: left;
    width: 240px;
    margin: 0 7px 0 0;
}

#user-email {
    width: 220px;
    border : none;
    outline: none;
    margin: 0 10px;
}

/* 생년월일 */
#birth-area {
    margin: 30px 0 0 0;
}

#year-input {
    width: 100px;
    float: left;
    margin: 0 10px 0 0;
}
#year-input > input {
    width: 80px;
}

#month-input {
    width: 100px;
    float: left;
    margin: 0 10px 0 0;
}
#month-input > select {
    width: 80px;
}

#day-input {
    width: 100px;
    float: left;
    margin: 0 10px 0 0;
}
#day-input > input {
    width: 80px;
}

/* 집주소 */

#addr-area {
    float: left;
}

#zip-input {
    width: 100px;
    float: left;
}
#zip {
    width: 70px;
}

#zip-input {
    margin: 10px  7px 0 0;
}

#aadr1-input {
    margin: 15px 0 10px 0;
    
}

#addr-search-btn {
    margin: 10px 0 0 0;
}


/* 확인버튼 */
.submitBtn {
    margin: 10px 0 0 36%;
}
#email-area > input[type=button], #addr-area > button {
    background-color: white;
    border-radius: 10px;
    border : 1px solid #B0B0B0 ;
    cursor: pointer;
}
.submitBtn > input[type=submit], .joinBtn {
    border: none;
    color: white;
    width: inherit;
    background-color: #FEB415;
    width: 120px;
    height: 38px;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 2px 3px  #C9C9C9;
    margin: 18px 0 50px 0;
}


/* dog폼 */
#form2-area {
    width: 400px;
    margin: 0 auto;
    display: none;
}


.error-msg {
    font-size: 12px;
    color: #FF0000;
}


.pet-ques {
    float: left;
}

/* 반려견 */

#pet-select-area {
    margin: 10px 0 0 0;
}

#dog-title {
    font-size : 23px;
    color : #FEB415;
    text-align: center;
}

.pet-result {
    float: left;
}

#user-join-submit {
    float: left;
}

#p-hr {
    width: 430px;
    height: 1px;
    background-color: #DFDFDF;
    margin: 15px auto;
}

/* 푸터 */
footer {
    width : 100%;
    min-width : 1200px;
    background-image : url(/assets/img/footer-white.png);
    background-repeat: round;
    background-size : cover;
    /* position: relative; */
}

#footer {
    width : 1200px;
    height: 290px;
    margin : auto;
    min-width: 1200px;
}

#footer-right-box {
    float : right;
    margin-top : 100px;

}

#footer-right-box > img {
    width : 200px;
}

#footer-left-box {
    float : left;
    width : 600px;
    padding-top : 110px;
}

#footer-left-box > ul {
    list-style: none;
    
}

#footer-left-box > ul > li {
    float : left;
    margin-bottom : 30px;
    margin-right : 45px;
    color : #ffba26;
}

#footer-ptag{
    font-size : 13px;
    float: left;
    line-height: 22px;
    color : rgba(179, 178, 178, 0.918);
    
}
