.detail-box{
	margin-top : 100px ;
	display : inline-block;'
	float: left;
}

.detail-box > .diary-photo {
	width : 320px;
    height : 220px;
    float : left;
    cursor: pointer;
    border-radius: 30px;
    overflow: hidden;
}

.detail-box  > .diary-photo > img{
	width : 100%;
    border-radius: 30px;
    transition: 0.4s;
}

#list-box{
	display : inline-block;
	float : right;
}
#main-content2{
	marign : 0 auto;
	height : 670px;
	width: 100%;
		
}
.day{
	width : 100px;
	height : 100px;
}

.day:hover {
	background-color : gray;
}

.sun {
	color : red;
}

.sun > div{
	color : red;
}