@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap");

/* 산책짝꿍 */

#nbb-top {
  margin: 100px 0 50px 0;
  text-align: center;
}

#nbb-top h3 {
  font-size: 30px;
  color: #fbb41d;
  padding-bottom: 6px;
}

#nbb-top p {
    color : #868686;
}

.pagin-box {
  text-align: center;
}

.pagin-box a {
  padding: 2px 8px;
  border: 1px solid rgb(218, 218, 218);
}

.pagin-box a:visited {
  color: #fbb41d;
}

#post-wrap {
  text-align: right;
}

.link-post {
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #fbb41d;
  border-radius: 30px;
  display: inline-block;
}

#post-wrap > a {
  color: white;
}

#main-content {
    width: 100%;
}

#Box1 {
    margin: 0 auto;
    margin-bottom : 100px;
}

/* 게시글 리스트 */

form {
  border-radius: 20px;
}

#all-content-box {
	border-bottom : 1px solid #ffedc6;
	padding-bottom : 20px;
	margin-bottom : 30px;
}

.content-box {
    width: 350px;
    height: 480px;
    border-radius: 20px;
    box-shadow: 0px 4px 50px 10px rgba(255, 226, 162, 0.3);
    margin: 0 auto;
    cursor : pointer;
    background-color : #ffffff;
    display : inline-block;
    margin : 40px 23px 40px 23px;
}

.list-img-area {
    height: 73%;
}

.list-img-area > img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*사이즈에 안맞는 이미지 자르게 처리*/
    /* object-fit: contain; */
    border-radius: 20px 20px 0 0;
    margin : 0;
}

/*  게시글 리스트 > 아래제목(내용) 영역 */
.list-content-area {
    height: 27%;
}

.list-content-area > div:nth-child(1) {
    width: 320px;
    line-height: 42px;
    margin: 0 auto;
    padding-top: 5px;
}

.user-profile-img-div {
    float: left;
}

.list-content-area > div:nth-child(1) > .user-addr {
    float: right;
    margin: 0px 0px 0px 38%;
}

/* 사용자 프로필 사진 */
.user-profile-img { 
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 30px;
    margin: 5px 10px 0 0;
}

/* 내용 + 채팅하기 버튼 위치 */

.list-content-area > div:nth-child(2) {
    /* width: 330px; */
    margin: 8px auto 0 auto;
    position : relative;
}

/* 게시물 내용 */
.user-mini-content {
    overflow : hidden;
    width: 250px;
    display: inline-block;
    height: 50px;
    margin-left: 20px;
}

/* 채팅버튼 */
.chat-btn {
	display: inline-block;
    width: 80px;
    height: 32px;
    border : none;
    border-radius: 10px;
    background: #FEB415;
    text-align-last: center;
    line-height: 30px;
    color: white;
    position : absolute;
    top : 26px;
    right : 13px;
}

.chat-btn:hover { 
    background: #ffce66;
}