@charset "UTF-8";

#main-content {
	margin-top : 50px;
	margin-bottom : 150px;
}

/* 타이틀 */
#nbb-top {
    text-align: center;
   	padding : 30px 0 30px 0;
}

	#nbb-top h3 {
	    font-size : 30px;
	    color : #FBB41D;
	    padding-bottom : 6px;
	}
	
	#nbb-top p {
	    font-size : 14px;
	    font-weight: 400;
	    color : #868686;
	}
	
/* 전체 박스 */
#goal-stamp-box {
	width : 1024px;
	height : 523px;
	margin : 50px auto;
	border-radius : 30px;
	box-shadow: 0px 4px 50px 10px rgba(255, 226, 162, 0.3);
}
	
/* 박스 - 왼쪽영역 */
#goal-stamp-box-left {
	width : 39%;
	height : 100%;
	float : left;
	margin-right: 10px;
}

	#left-title {
		width : 100%;
		height : 20%;
	    text-align: center;
	    line-height: 9;
	    font-size: 18px;
	    color: #FEB415;
	    font-weight : bolder;
	}
	
	#left-chart {
		width : 100%;
		height : 50%;
	}
	

/* 왼쪽 - 차트 */
.chart {
	float: left;
	width: 33.33%;
	height: 230px;
	text-align: center;
	position: relative;
    top: -167px;
    left: 100px;
}

	.chart > canvas {
		position: relative;
    	z-index: 3;
	}

	#dog-image-box {
	    width: 190px;
	    position: relative;
	    z-index: 1;
	    top: 89px;
	    left: 5px;
	}

.chart span.title {
	position: relative; 
	display: block; 
	width: 100%; 
	text-align: center; 
	top: 110px;
}

/* 왼쪽 - 시간 */
#left-time {
	width : 100%;
	height : 30%;
	text-align: center;
}
	.user-time {
		font-size : 35px;
		color : #FEB415;
		font-weight: 600;
	}
	
	.time-set {
		font-size : 28px;
		color : #A8A8A8;
	}

	.goal-time {
		color : black;
		font-weight: 500;
	}
	
	#left-time p {
		color : #c9c9c9;
		margin-bottom : 15px;
	}
	
	.goal-btn {
		width : 100px;
	    height : 40px;
	    text-align: center;
	    line-height: 40px;
	    background-color:#FBB41D;
	    color : #ffffff;
	    border-radius: 30px;
	    display: inline-block;
	}
	
/* 오른쪽 박스 영역 */
#goal-stamp-box-right {
		width : 60%;
		height : 100%;
		float : left;
}

	#right-title {
		width : 100%;
		height : 20%;
		text-align: center;
	    line-height: 9;
	    font-size: 18px;
	    color: #FEB415;
	    font-weight : bolder;
	}
	
	#stamp-wrap {
		width : 100%;
		height : 65%;
		border-left : 1px solid silver;
	}
	
	#right-stamp {
		width : 70%;
		height : 100%;
		margin : 0 auto;
		padding-left : 20px;
	}

		.goal-stamp {
			width: 110px;
	    	margin: 0 10px 0 10px;
	    	cursor : pointer;
		}
		
		.goal-stamp:hover {
			filter : brightness(90%);
		}
		
		.goal-stamp:active {
			filter : brightness(70%);
		}
		
		#no-goal-stamp {
			margin : 20px auto;
			width : 80%;
			height : 95%;
			border : 3px solid #FBB41D;
			border-radius : 30px;
		}
		
			#no-goal-stamp img {
				margin-top : 10px;
				width : 50%;
			}
			
			#no-goal-stamp p {
				margin : 10px 0 20px 0;
			}
			
	#right-page {
		width : 100%;
		height : 15%;
		text-align: center;
	}

	#right-page a {
	    padding : 2px 8px;
	}
	
	#right-page a:visited {
	    color : #FBB41D;
	}

/* walking-log-detial.jsp -------------------------------------------------- */
.goal-detail-box {
	width : 500px;
	height : 400px;
	border-radius : 40px;
	position : absolute;
	top : 250px;
	left : 550px;
	z-index : 100;
	box-shadow : rgba(0,0,0,0.2) 0 0 0 9999px;
	background-color : #ffffff;
	text-align : center;
}

	.goal-detail-box button {
		border : none;
		background : none;
		margin : 20px 0 0 430px;
		cursor : pointer;
	}
	
	#chart-title {
		margin : 10px auto  0 auto;
		width : 220px;
		height : 30px;
		border-radius : 30px;
		color : #ffffff;
		font-size : 18px;
		background-color : #FEB415;
	}
	
	#chart2 {
		float : left;
		margin-left : 50px;
		position : relative;
	}
	
	#chart3 {
		float : right;
		margin-right : 50px;
		position : relative;
	}
	
	.chart2 {
		margin-top : 40px;
	}
	
	.goal-detail-box .chart-p {
		position : absolute;
		width : 100px;
		top : 33%;
		left : 20%;
	}
	
		.goal-detail-box .chart-p p:first-child {
			color : silver;
		}
	
		.goal-detail-box .chart-p p:nth-child(2){
			border-bottom : 1px solid silver;
			padding-bottom : 5px;
			color : #FEB415;
			font-size : 30px;
			font-weight : bolder;
		}
		
		.goal-detail-box .chart-p p:nth-child(3) {
			margin-top : 10px;
		}
		
		.goal-detail-box .chart-p p:last-child {
			margin-top : 45px;
			color : #FEB415;
			font-weight : bolder;
		}
	
